@model ML.Grupo
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="text-center">
        <h2>Lista de Grupos Activos</h2>
    </div>
    <hr />

    @if (Model.Grupos == null || Model.Grupos.Count == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <i class="fa-solid fa-triangle-exclamation" style="color: #c24e00;"></i> No existen registros de productos
                </div>
            </div>
        </div>
    }
    else
    {
        <table class="table  table-dark table-hover table-striped table-bordered table-responsive" id="table_grupos">
            <thead>
                <tr class="table-secondary">
                    <td class="text-center">Editar</td>
                    <td style="display :none;">id</td>
                    <td class="text-center">Nombre</td>
                    <td class="text-center">FechaIngreso</td>
                    <td class="text-center">Fecha De Egreso</td>
                    <td class="text-center">Status</td>
                    <td class="text-center">Eliminar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (ML.Grupo grupo in Model.Grupos)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning" href="@Url.Action("GetAlumnosByGrupo", "Grupo", new { IdGrupo = grupo.IdGrupo })"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td style="display :none;">@grupo.IdGrupo </td>
                        <td class="text-center">@grupo.Nombre @grupo.TipoGrupo.Nombre</td>
                        <td class="text-center">@grupo.FechaIngreso</td>
                        <td class="text-center">@grupo.FechaEgreso</td>
                        <td class="text-center">
                            @switch (grupo.Status.Nombre)
                            {
                                case "Entrenamiento":
                                    <select name="status" id="status_@grupo.IdGrupo" class="dropdown-black entrenamiento-status"onchange="CambiarStatus(@grupo.IdGrupo)">
                                        <option value="1" @(grupo.Status.IdStatus == 1 ? "selected" : "")>Entrenamiento</option>
                                        <option value="2" @(grupo.Status.IdStatus == 2 ? "selected" : "")>Pre-Colocación</option>
                                        <option value="3" @(grupo.Status.IdStatus == 3 ? "selected" : "")>Colocación</option>
                                    </select>
                                    break;
                                case "Pre-Colocación":
                                    <select name="status" id="status_@grupo.IdGrupo" class="dropdown-black pre-entrenamiento-status"onchange="CambiarStatus(@grupo.IdGrupo)">
                                        <option value="1" @(grupo.Status.IdStatus == 1 ? "selected" : "")>Entrenamiento</option>
                                        <option value="2" @(grupo.Status.IdStatus == 2 ? "selected" : "")>Pre-Colocación</option>
                                        <option value="3" @(grupo.Status.IdStatus == 3 ? "selected" : "")>Colocación</option>
                                    </select>
                                    break;
                                case "Colocación":
                                    <select name="status" id="status_@grupo.IdGrupo" class="dropdown-black colocacion-status" onchange="CambiarStatus(@grupo.IdGrupo)">
                                        <option value="1" @(grupo.Status.IdStatus == 1 ? "selected" : "")>Entrenamiento</option>
                                        <option value="2" @(grupo.Status.IdStatus == 2 ? "selected" : "")>Pre-Colocación</option>
                                        <option value="3" @(grupo.Status.IdStatus == 3 ? "selected" : "")>Colocación</option>
                                    </select>
                                    break;
                                default:
                                    <span>@grupo.Status.Nombre</span>
                                    break;
                            }
                        </td>

                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "MateriaController1", new { IdGrupo= grupo.IdGrupo})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="fa-solid fa-eraser"></i></a></td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>


<script type="text/javascript">
    function CambiarStatus(idGrupo) {
        var selectedValue = $('#status_' + idGrupo).val();

        if (confirm('¿Deseas cambiar el valor del status?')) {
            $.ajax({
                url: '/Grupo/CambiarStatus',
                type: 'POST',
                data: { idStatus: selectedValue, idGrupo: idGrupo },
                success: function (result) {
                    $('#status_' + idGrupo).removeClass().addClass(result.statusClass).blur();
                },
                error: function () {
                    alert('Ocurrió un error al cambiar el valor del status.');
                }
            });
        }
    }

</script>